<f:if condition="{form.previousPage}">
	<f:form.button name="__currentPage" value="{form.previousPage.index}" formnovalidate="formnovalidate" class="{form.renderingOptions.button.previousClassAttribute}">
		<f:translate id="{f:if(condition: form.renderingOptions.previousButtonLabel, then: 'forms.navigation.{form.renderingOptions.previousButtonLabel}', else: 'forms.navigation.defaultPreviousButton')}" source="{form.renderingOptions.translationFile}" package="{form.renderingOptions.translationPackage}">Previous page</f:translate>
	</f:form.button>
</f:if>

<f:if condition="{form.nextPage}">
	<f:then>
		<f:form.button name="__currentPage" value="{form.nextPage.index}" class="{form.renderingOptions.button.nextClassAttribute}">
			<f:translate id="{f:if(condition: form.renderingOptions.nextButtonLabel, then: 'forms.navigation.{form.renderingOptions.nextButtonLabel}', else: 'forms.navigation.defaultNextButton')}" source="{form.renderingOptions.translationFile}" package="{form.renderingOptions.translationPackage}">Next page</f:translate>
		</f:form.button>
	</f:then>
	<f:else>
		<f:form.button name="__currentPage" value="{form.pages -> f:count()}" class="{form.renderingOptions.button.submitClassAttribute}">
			<f:translate id="{f:if(condition: form.renderingOptions.submitButtonLabel, then: 'forms.navigation.{form.renderingOptions.submitButtonLabel}', else: 'forms.navigation.defaultFormSend')}" source="{form.renderingOptions.translationFile}" package="{form.renderingOptions.translationPackage}">Submit</f:translate>
		</f:form.button>
	</f:else>
</f:if>
